/* loads custom font Press start 2p  */
@font-face {
    font-family: "Press Start 2P";
    src: url('PressStart2P/PressStart2P-Regular.ttf') format("truetype");
}


/* css for all properties */
html, body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1d1d1d;
    color: #FF6A00;
    font-family: 'Press Start 2P', cursive;
    background-image: url("/images/Stars.png");

}


/* Big text looks awesome with this font */
h1 {
  font-family: 'STARWARS'
}

/*changes color of gold sponsor on the become a sponser page*/
.gold2 {
  color: #ffd700;
}
/*changes color of silver sponsor on the become a sponser page*/
.silver2 {
    color: #c0c0c0;
}
/*changes color of bronze sponsor on the become a sponser page*/
.bronze2 {
    color: #cd7f32;
}
/* for sponsor.html */
.sponsor {
  text-align: left;
}
.sponsor p{
  padding-left: 1%;
  color: #e6e6e6;
}

.sponsor li{
  padding-left: 2%;
  color: #e6e6e6;
}

.sponsor h2{
  color: white;
}

/* This is the navbar stuff */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111111;
}

p a {
  color: #53edf3;
}

/* This is the E-Ville Empire part at the very top of the page */
.main{
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  /*background-color: #2bb5dc; */
  color: white;
  letter-spacing: 3px;
}
/* Stuff that needs to be center */
.center{
  text-align: center;
}

/* Footer Stuff. The links at the bottom of the page */
footer{
  list-style-type: none;
  font-size: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #4395cd;
  margin-top: 1%;
  line-height: 110%;
}

/* Theres colums so that you can have text different text on the same line */
.footerColumn {
  float: left;
  width: 10%;
  padding: 10px;
}

.footerColumn a{
  color: white;
}

/* for the footer text */
.footerText {
  color: white;
  padding-right: 5%;
}


/* makes pretty buttons */
.button {
    background-color: #4395cd;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: #1d1d1d;
    color: white;
    border: 2px solid #4395cd;
}

.button:hover {
    background-color: #4395cd;
    color: white;
}

.lispace{
  margin: 10px 0;
}'
.lismallspace{
  margin: 0.5px 0;
}

/* there's a column for the body as well like in the footer */
.column {
    float: left;
    width: 40%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.column a{
  color: white;
}

/* Awards Right Side */
.awardsR {
  white-space:nowrap;
}
/* Text Awards - Puts semi-transparent layer over the whole div*/
/*.awardText {
  background: rgba(0, 0, 0, 0.5);
}*/
/* Removes the semi-transparent layer over the <p>, only one shade of grey */
/*.awardText p {
  background: rgba(0, 0, 0, 0);
}*/

/* Text Awards li */
.awardText li {
  font-size: 0.6rem;
  line-height: 1.2em;
}

/* properties for the about text paragraph on the front page */
p {
  line-height: 1.2em !important;
  /*background: rgba(0, 0, 0, 0.5);*/
}

/* Custom Font sizes, helps with moble viwing */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 0.9rem;
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
